# Configuration
INFLUXDB_URL=http://localhost:8086
INFLUXDB_ORG=your-organization-here
INFLUXDB_BUCKET=smart_home
INFLUXDB_TOKEN=your-token-here
INFLUXDB_ADMIN_USER=your-admin-username-here
INFLUXDB_ADMIN_PASSWORD=your-admin-password-here